.navbar {
  background:#fff;
}
.navbar-brand {
  text-transform: uppercase;
  color: #1d1d1d;
  font-weight: 800;
  font-size: 2rem;
  border-right: 1px solid #ccc;
  padding-right: 1.5rem;
}
.nav-item a {
  color:#1d1d1d;
}